.main-block {
    width: 400px;
    position: relative;
    display: flex;
}

.sessions-list {
    max-height: 500px;
    overflow-y:scroll;
    font-size: 13px;
    width: inherit;
    position: absolute;
    left: -110%;
    border: 1px solid #757474;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}

.sessions-item {
    border-bottom: 1px solid #FFFFFF;
    padding: 10px;
}

.sessions-item p {
    padding: 0 0 10px;
    margin: 0;
}

.sessions-item:last-child {
    border-bottom: none;
}

h1 {
    letter-spacing: 2px;
    font-size: 18px;
    letter-spacing: 2px;
}

.activate-form {
    padding: 20px;
    border: 1px solid #757474;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activate-form__text {
    width: 100%;
    height: 40px;
    font: inherit;
    font-size: 28px;
    margin-bottom: 20px;
}

.activate-form__btn {
    padding: 15px;
    font: inherit;
    font-size: 18px;
    border-radius: 5px;
    transform: scale(1);
    box-shadow: 0 0 5px 5px rgba(167, 169, 170, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}

.activate-form__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 15px 7px rgba(145, 146, 147, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}